tcurl 'http://localhost/wordpress/wp-login.php' -H 'Host: localhost' -H 'User-Agent: Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8' -H 'Accept-Language: en-us,en;q=0.5' -H 'Accept-Encoding: gzip, deflate' -H 'Referer: http://localhost/wordpress/wp-login.php' -H 'Cookie: wordpress_test_cookie=WP+Cookie+check' -H 'Connection: keep-alive' --data 'log=user&pwd=password&wp-submit=Anmelden&redirect_to=http%3A%2F%2Fp.mrrtpintrrh%2Fwordpress%2Fwp-admin%2F&testcookie=1'
